@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins/remify';

.root {
  margin: 0 auto;
  padding: 0 rem(24px);
  max-width: $container-width;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: rem(32px);
  margin-bottom: rem(30px);
}

.main {
  margin-top: rem(24px);
  margin-bottom: rem(48px);
}
