@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/typography';
@import 'src/assets/styles/mixins/remify';

.root {
  margin-bottom: rem(50px);
  max-width: rem(604px);

  .title {
    @include h2();

    color: $color-neutral-90;
    margin: 0;
    margin-bottom: rem(18px);
  }

  .lead {
    @include body-lg();
    @include body-md();

    color: $color-neutral-60;
    margin-bottom: rem(32px);
  }
}
