@import 'src/assets/styles/variables';
@import 'src/assets/styles/colors';

$sizes: (
  xs: 14px,
  sm: 20px,
  md: 48px,
  lg: 96px
);

.spinner {
  $component: &;

  display: inline-block;

  &--dual-ring {
    position: relative;

    &::after {
      content: ' ';
      width: 100%;
      height: 100%;
      display: block;
      border-radius: 50%;
      box-sizing: border-box;
      border: 6px solid transparent;
      border-color: $color-accent-blue-2 transparent $color-accent-blue-2
        transparent;
      animation: lds-dual-ring 0.75s linear infinite;
    }

    @each $name, $size in $sizes {
      &#{$component}--#{$name} {
        width: $size;
        height: $size;

        &::after {
          border-width: 0.15 * $size;
        }
      }
    }
  }

  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}

.primary {
  &::after {
    border-top-color: $color-accent-blue-2;
    border-bottom-color: $color-accent-blue-2;
  }
}

.inherit {
  &::after {
    border-top-color: inherit;
    border-bottom-color: inherit;
  }
}
