@import 'src/assets/styles/mixins/remify';

.root {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.chips,
.addresses {
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);
}

.addresses {
  list-style: none;
  margin: 0;
  padding: 0;
}

.action {
  font-size: rem(13px);
  font-weight: 500;
}
