@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins/remify';

.root {
  .search {
    margin-bottom: rem(24px);
  }

  .content {
    position: relative;
    min-height: rem(200px);
    margin-left: rem(-24px);
    margin-right: rem(-24px);
    padding: 0 rem(24px);
  }

  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .item {
    padding: 0;
    margin: 0;
    margin-bottom: rem(8px);
    padding-bottom: rem(16px);
    border-bottom: 1px solid $color-neutral-30;

    .bot {
      width: 100%;
    }
  }
}
