@import 'src/assets/styles/variables';
@import 'src/assets/styles/mixins/remify';
@import 'src/assets/styles/mixins/typography';

.root {
  margin-bottom: rem(16px);
  text-align: left;
}

.label {
  @include element-lg();

  display: inline-block;
  color: $color-neutral-60;
  margin-bottom: rem(8px);
}

.optional {
  color: $color-neutral-50;
}

.errorList {
  padding: 0;
  margin: 0;
  margin-top: rem(4px);
  list-style: none;

  .errorItem {
    @include element-md();

    padding: 0;
    margin: 0;
    color: $color-accent-red;
  }
}
