@use 'sass:color';

@import 'src/assets/styles/mixins/remify';

.root {
  min-width: rem(100px);
  text-align: center;
  padding: rem(7px) rem(16px);
  color: $color-neutral-50;
  background-color: color.adjust($color-neutral-10, $alpha: -0.4);
  border-radius: rem(4px);
}
