$color-neutral-10: #100F0F;
$color-neutral-20: #272727;
$color-neutral-50: #A7A7A7;
$color-neutral-70: #DADADA;
$color-neutral-90: #E9E9E9;
$color-neutral-99: #f5f5f5;
$color-neutral-100: #fff;

$color-accent-yellow: #F0C11A;
$color-accent-red: #B91C1C;
$color-accent-blue-1: #2172E5;
$color-accent-blue-2: #6855FA;
$color-accent-pink: #793BCA;

$color-focus-outline: #74abff;