@font-face {
  font-family: 'neuehaas';
  src: url('../fonts/NeueHaasTextRegular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'neuehaas';
  src: url('../fonts/NeueHaasTextMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'neuehaas';
  src: url('../fonts/NeueHaasTextBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
